<div class="p-10" style="border: 1px solid gray; background-color: gray;"><strong style="color: white;">{{::vm.title}}</strong></div>
<div style="border-left: 1px solid black; border-right: 1px solid black;">
    <div style="border-bottom: 1px solid black; overflow: auto;" ng-repeat="post in vm.posts">
        <div class="col-sm-2" style="border-right: 1px solid lightgray;">
            <div class="text-center">
                {{::post.userId}}
                <br />
                {{::post.dateCreated | date: 'dd/MM/yyyy - HH:mm'}}
            </div>
        </div>
        <div class="col-sm-8 pt-5">{{::post.content}}</div>
    </div>
    <div style="border-bottom: 1px solid black; overflow: auto; background-color: lightgray">
        <div class="col-sm-2" style="border-right: 1px solid lightgray;">
            <div class="text-center">
                Salsao
                <br />
                24/10/2017 05:41
            </div>
        </div>
        <div class="col-sm-8 pt-5">User post</div>
    </div>
    <div style="border-bottom: 1px solid black; overflow: auto;">
        <div class="col-sm-2" style="border-right: 1px solid lightgray;">
            <div class="text-center">
                Salsao
                <br />
                24/10/2017 05:41
            </div>
        </div>
        <div class="col-sm-8 pt-5">User post</div>
    </div>
</div>
<div class="mt-10">
    <button ng-if="!vm.showPostReply" class="btn btn-default" ng-click="vm.showPostReply = true">Post Reply</button>
    <form name="form" novalidate ng-submit="form.$valid && vm.postReply(vm.reply, vm.threadId)" ng-if="vm.showPostReply">
        <div class="form-group">
            <textarea id="content" name="content" rows="7" class="form-control" placeholder="Response..." ng-model="vm.reply.content" ng-required="true"></textarea>
        </div>
        <button class="btn btn-default">Post</button>
    </form>
</div>